{% extends 'base.html' %}
{% load static %}
{% load menu_tags %}
{% block body %}
<main>
    {% show_cat request %}
    <div class="pb-4 text-center">
        {% if object_list %}
            <h1 class="m-1 font-ctc">Сейчас в эфире</h1>
        {% else %}    
            <h1 class="position-absolute top-50 start-50 translate-middle">В данном разделе никто не стримит :( Станьте первым!</h1>
        {% endif %}
    </div>
    <div class="container-fluid m-0">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-3" style="width: 100%;">
        {% for p in object_list %}
            <div class="col mt-0 mb-3">
                <div class="card shadow-sm" width="100%" height="307px">
                    {{ p.username|json_script:"username" }}
                    {{ output_url|json_script:"output_url"}}
                    <a href="{{ p.get_absolute_url }}">
                        <div id="player_id"></div>
                        <script>
                            username = JSON.parse(document.getElementById('username').textContent);
                            output_url = JSON.parse(document.getElementById('output_url').textContent);
                            const player = OvenPlayer.create('player_id', {
                            autoStart: false,
                            autoFallback: false,
                            showBigPlayButton: false,
                            controls: false,
                            sources: [
                                {   
                                    type: 'll-hls',
                                    file: output_url+"/"+username+"/llhls.m3u8",
                                }
                            ]
                            });
                        </script>
                    </a>
                    <div class="card-body p-1">
                        <div class="row row-cols-2">
                            <div class="col-2"> 
                                <a href="{{ p.get_absolute_url }}">
                                    <img src="{{ p.image.url }}" alt="" width="50" height="50" class="rounded-circle">
                                </a>
                            </div>
                            <div class="col-10 text-truncate">
                                <a href="{{ p.get_absolute_url }}" class="nav-link">
                                    <strong>{{ p.stream_name }}</strong>
                                    <p class="mb-0">{{ p.username }}</p>
                                </a>
                                <a href="" class="nav-link">
                                    <p class="mb-0">{{ p.cat }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}