{% extends 'base.html' %}
{% block body %}

<div id="player_id">
    <!-- Load OvenPlayer via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>

    <!-- <script>

        // Initialize OvenPlayer
        const player = OvenPlayer.create('player_id', {
            sources: [
                {
                    type : "webrtc",
                    file : "ws://192.168.1.243:3333/app/stream",
                }
            ]
        });

        player.play();
    </script> -->
</div>

{% endblock %}
