{% extends 'base.html' %}
{% load static %}

{% block body %}

<div id="player_id"></div>
    <!-- Load OvenPlayer via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>

    <script>

        // Initialize OvenPlayer
        const player = OvenPlayer.create('player_id', {
            sources: [
                {
                    label: 'label_for_video',
                    type : "webrtc",
                    file : "ws://oven:3333/app/stream",
                }
            ]
        });

        player.play();
    </script>

{% endblock %}
