<!-- ======= Sidebar ======= -->
<aside id="offcanvasScrolling" class="sidebar text-bg-dark p-3 offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false">
<div class="font-ctc-bold">
    <div align="right">
        <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    {% if user.following.all %}
    <p id="titleSideBar" class="h5">Подписки:</p>
    {% else %}
    <p>Вы не на кого не подписаны</p>
    {% endif %}
    <hr>
</div>
<div class="offcanvas-body p-0">
    {% for i in user.following.all %}
    <a href="{{ i.get_absolute_url }}" class="d-flex align-items-center text-white text-decoration-none">
        <img src="{{ i.image.url }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong class="focus-item">{{ i }}</strong>
    </a>
    {% endfor %}
</div>
</aside>
<!-- ======= End Sidebar ======= -->