{% extends 'base.html' %}
{% load static %}
{% load chat_tags %}
{% load homepage_tags %}
{% block body %}
<div class="container-fluid d-flex p-0">
    {% sidebar request %}
    <main class="container-fluid">
        <div class="row position-relative">
            <div class="player col-lg-9 p-3 position-relative"> 
                {{ output_url|json_script:"output_url" }}
                <div id="player_id"></div>
                <script src="{% static 'jss/player.js' %}"></script>
            </div>
            <div class="chat col-lg-3 p-0 position-fixed">
                {% chat request %}
            </div>  
        </div>
        <div class="row" style="width: 70%;">
            <div class="px-3 d-flex" >
                <img src="{{ user.image.url }}" width="100px" height="100px">
                <ul class="font-ctc">
                    <li class="h5">
                        {{user.username}}
                    </li>
                    <li class="h4">
                        {{ user.stream_name}}
                    </li>
                    <li class="h6">
                        {{ user.cat }}
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock %}