@font-face {
    font-family: "CTCSans";
    src : url('../fonts/CTCSans-ExtraBold.otf');
}

* {
    font-family: "CTCSans";
}

header {
    letter-spacing: 0.03rem;
    font-size: 17px;
}

.active{
    color: rgb(128,174,255)!important;
    text-decoration: underline;
}

.header-item:hover{
    color: rgb(128,174,255)!important;
}