@font-face {
    font-family: "CTCSans";
    src : url('../fonts/CTCSans-ExtraBold.otf');
}

@font-face {
    font-family: "CTCSansBold";
    src : url('../fonts/CTCSans-Bold.otf');
}

.font-ctc {
    font-family: "CTCSans";
}

.font-ctc-bold {
    font-family: "CTCSansBold";
}

main {
    margin-top: 50px;
}

header {
    letter-spacing: 0.03rem;
    font-size: 17px;
    box-shadow: 0px 1px 5px rgb(128,174,255);
}

.active {
    color: rgb(128,174,255)!important;
    text-decoration: underline;
}

.text-blue {
    color: rgb(128,174,255)!important;
}

.focus-item:hover {
    color: rgb(128,174,255)!important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hidden {
    position: fixed;
    top: 50px;
    bottom: 0!important;
    width: 76px!important;  
    overflow-y: scroll;
    /* scrollbar-width: thin;   */
    box-shadow: inset -0px 1px 5px rgb(128,174,255);
}

.hidden::-webkit-scrollbar {
    width: 5px;
    height: auto;
}

.hidden::-webkit-scrollbar-thumb {
    background-color: rgb(128,174,255)
}

.sidebar {
    top: 50px!important;
    bottom: 0!important;
    width: 240px!important;
    z-index: 996;
    transition: all 0.3s;
    overflow-y: auto;
    box-shadow: inset -0px 1px 5px rgb(128,174,255);
}

.player{
    left: 0;
    width: 70%;
}

.chat {
    width: 27%;
    top: 50px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    box-shadow: inset -0px 1px 5px rgb(128,174,255);
}
