{% load static %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{{ room_name | json_script:"roomName" }}  
{{ connect_url | json_script:"connectUrl" }}

<div class="title text-center p-2 font-ctc-bold position-fixed" style="width: 27%;"><p class="h5">Чат трансляции:</p></div>
<ul id="chat-thread" class="chat-thread position-absolute" style="top: 50px;"></ul>
<div class="chat-message position-fixed p-2" style="bottom: 0;">
  <input id="chat-message-input" class="chat-message-input" type="text" autocomplete="off" autofocus />
</div>

<script>
  const roomName = JSON.parse(document.getElementById('roomName').textContent);
  const connectUrl = JSON.parse(document.getElementById('connectUrl').textContent);

  const chatThread = document.querySelector('#chat-thread');
  const messageInput = document.querySelector('#chat-message-input');

  const token = Cookies.get('token');
  const centrifuge = new Centrifuge(connectUrl, {
    token: token
  });

  centrifuge.on('connecting', function (ctx) {
    console.log(`connecting: ${ctx.code}, ${ctx.reason}`);
  }).on('connected', function (ctx) {
    console.log(`connected over ${ctx.transport}`);
  }).on('disconnected', function (ctx) {
    console.log(`disconnected: ${ctx.code}, ${ctx.reason}`);
  }).connect();

  const sub = centrifuge.newSubscription(roomName);

  sub.on('publication', function (ctx) {
    const chatNewThread = document.createElement('li');
    const chatNewMessage = document.createTextNode(ctx.info.user+": "+ctx.data.message);
    chatNewThread.appendChild(chatNewMessage);
    chatThread.appendChild(chatNewThread);
    chatThread.scrollTop = chatThread.scrollHeight;
  }).on('subscribing', function (ctx) {
    console.log(`subscribing: ${ctx.code}, ${ctx.reason}`);
  }).on('subscribed', function (ctx) {
    console.log('subscribed', ctx);
  }).on('unsubscribed', function (ctx) {
    console.log(`unsubscribed: ${ctx.code}, ${ctx.reason}`);
  }).on('error', function(ctx) {
    console.log('client error', ctx);
  }).subscribe();
  
  sub.history({limit: 10}).then(function(ctx) {
    for (const element of ctx.publications) {
      sub.publish(element.data);
    }
  }, function(err) {
      // history call failed with error
  });

  messageInput.onkeyup = function (e) {
    if (e.keyCode === 13) {  // enter, return
      e.preventDefault();
      const message = messageInput.value;
      if (!message) {
          return;
      }
      sub.publish({ 'message': message});
      messageInput.value = '';
    }
  };
</script>    