{% extends 'base.html' %}
{% load static %}
{% block body %}

<h1 align="center">Блог</h1>

{% if blogs_list %}
<section class="page_elem container_12">
  {% for blog in blogs_list %}
  <a href="{{ blog.id }}" target="_blank">
    <article class="grid_4">
      <img src="{{ blog.img_url }}" alt="" width="300" height="187">
      <h2>{{ blog.title }}</h2>
      <h3>{{ blog.text }}</h3>
    </article>
  </a>
  {% endfor %}
</section>

{% else %}
<h2 align="center">Здесь пока ничего нет...</h2>
{% endif %}

{% endblock %}
