{% extends 'base.html' %}
{% load static %}
{% block body %}

<!-- <link rel="stylesheet" href="{% static 'css/blog_styles.css' %}" type="text/css"> -->
<link rel="stylesheet" href="{% static 'css/960_12_col.css' %}" type="text/css">
<h1 align="center">Блог</h1>

<fieldset class="page_elem container_12">
  <div class="grid_4 ">
    <h2>Test1</h2>
  </div>
  <div class="grid_4 ">
    <h2>Test2</h2>
  </div>
  <div class="grid_4 ">
    <h2>Test3</h2>
  </div>
  <div class="grid_4 ">
    <h2>Test4</h2>
  </div>
</fieldset>
{% endblock %}
