{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="py-4 text-center">
        <h1 class="mb-3 font-ctc">{{ user.username }}</h1>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-center mb-3">
                    <span class="text-secondary">Изображение профиля</span>
                </h4>
                {% if user.image %}
                <img src="{{ user.image.url }}" alt="" class="img-thumbnail rounded-circle d-block mx-auto" style="width: 200px; height: 200px;">
                {% else %}
                <img src="{% static 'img/login_img.png' %}" alt="" class="img-thumbnail rounded-circle d-block mx-auto" style="width: 200px; height: 200px;">
                {% endif %}
                <div class="input-group my-4">
                    {{ user_form.image }}
                    <button class="btn btn-outline-secondary btn-sm text-uppercase focus-item font-ctc" type="submit" id="inputGroupFileAddon04">Применить</button> 
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="row g-3">
                    <div class="col-md-4">
                        <label for="{{ user_form.first_name.id_for_label }}" class="form-label">{{ user_form.first_name.label }}</label>
                        {{ user_form.first_name }}
                    </div>
                    <div class="col-md-4">
                        <label for="{{ user_form.last_name.id_for_label }}" class="form-label">{{ user_form.last_name.label }}</label>
                        {{ user_form.last_name }}
                    </div>
                    <div class="col-md-2">
                        <label for="{{ user_form.gender.id_for_label }}" class="form-label">{{ user_form.gender.label }}</label>
                        {{ user_form.gender }}
                    </div>
                    <div class="col-md-2">
                        <label for="{{ user_form.dob.id_for_label }}" class="form-label">{{ user_form.dob.label }}</label>
                        {{ user_form.dob }}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ user_form.username.id_for_label }}" class="form-label">{{ user_form.username.label }}</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">@</span>
                            {{ user_form.username }}
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="{{ user_form.email.id_for_label }}" class="form-label">{{ user_form.email.label }}</label>
                        {{ user_form.email }}
                    </div>
                </div>
                <hr class="my-4">
                <button type="submit" class="w-100 btn btn-primary btn-lg text-uppercase focus-item font-ctc">Сохранить</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}