{% for i in info %}
<div class="col mb-3">
    <label for="title" class="form-label font-ctc-bold h5 text-white-50">Название трансляции:</label>
    <input type="text" class="form-control fs-6 bg-dark text-white" id="title" placeholder="" value="{{i.title}}" required="" disabled>
</div>
<div class="col mb-3">
    <label for="cat" class="form-label font-ctc-bold h5 text-white-50">Категория:</label>
    <input type="text" class="form-control fs-6 bg-dark text-white" id="cat" placeholder="" value="{{i.cat}}" required="" disabled>
</div>
{% endfor %}
