{% extends 'base.html' %}
{% load static %}
{% load stream_tags %}
{% block body %}
<div class="py-4 text-center">
    <h1 class="mb-0 font-ctc">Студия</h1>
</div>
<main class="container-fluid mx-0">
    <div class="row py-3 text-bg-dark">
        <div class="col-lg-4 mb-4">
            {{ user.username|json_script:"username" }}
            {% verbatim %}
            <div id="player_id">
                {{ player }}
            </div>
            {% endverbatim %}
            <script src="{% static 'jss/player.js' %}"></script>
        </div>
        <div class="col-lg-4 mb-4" id="stream_info">
            {% show_stream_info user %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary text-uppercase focus-item font-ctc" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Изменить</button>
            </div>
            <!-- Modal -->
            <div class="modal fade text-dark" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title fs-5 font-ctc" id="staticBackdropLabel">Настройки трансляции</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                {% csrf_token %}
                                {% for f in form %}
                                <div class="mb-2">
                                    <label class="font-ctc" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                    {{ f }}
                                    <div class="text-danger">{{ f.errors }}</div>
                                </div>
                                {% endfor %}
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary font-ctc text-uppercase focus-item">Сохранить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-lg-4" id="chat" style="background-color: brown;">CHAT</div>
    </div>
    <div class="row py-3 text-bg-dark">
        <div class="col-lg-4 mb-4">
            <h2 class="font-ctc h4 text-white-50">Настройки трансляции:</h2>
            <div class="input-group mb-2">
                <span class="input-group-text text-bg-dark"><label for="stream_url" class="font-ctc text-white-50 h5 mb-0">URL:</label></span>
                <input type="text" class="form-control text-bg-dark" id="stream_url" value="{{ stream_url }}" disabled>
                <button type="button" class="btn btn-outline-light text-uppercase focus-item font-ctc">Копировать</button>
            </div>
            <form action="" method="post"></form>
                {% csrf_token %}
                <div class="input-group mb-2">
                    {% for f in form_settings %}
                    <span class="input-group-text text-bg-dark"><label for="{{ f.id_for_label }}" class="font-ctc text-white-50 h5 mb-0">{{ f.label }}</label></span>
                    {{ f }}
                    {% endfor %}
                    <button type="button" class="btn btn-outline-light text-uppercase focus-item font-ctc">Копировать</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}