{% extends 'base.html' %}

{% block body %}

    {% block cat %}
    {% if settings %}
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-lg-start ms-5">
            {% for m in cats %}
                {% if m.slug in  request.get_full_path %}
                    <button class="btn btn-dark rounded-pill px-3 ms-2" onclick="location.href='{{ m.get_absolute_url }}';" data-bs-toggle="button">
                        {% if m.img %}
                        <img class=""src="{{ m.img.url }}" />
                        {% endif %}
                        {{ m.name }}
                    </button>
                {% else %}
                    <button class="btn btn-outline-dark rounded-pill px-3 ms-2" onclick="location.href='{{ m.get_absolute_url }}';" data-bs-toggle="button">
                        {% if m.img %}
                        <img class=""src="{{ m.img.url }}" />
                        {% endif %}
                        {{ m.name }}
                {% endif %}        
            {% endfor %}      
        </div>
    </div>

    {% else %}    
    <h2 class="position-absolute top-50 start-50 translate-middle">Данный раздел пока в разработке...</h2>
    {% endif %}    
    {% endblock cat %}

    {% block content %}
    {% endblock content %}

{% endblock %}