{% load static %}
{% load menu_tags %}
{% load homepage_tags %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="icon" href="{% static 'img/logo.png' %}">
        <link rel="load" href="{% static 'fonts/CTCSans-ExtraBold.otf' %}" as="font" />
        <link rel="load" href="{% static 'fonts/CTCSans-Bold.otf' %}" as="font" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
        <script src="{% static 'jss/scripts.js' %}"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest/dist/hls.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/ovenplayer/dist/ovenplayer.js"></script>
        <script src="https://unpkg.com/centrifuge@3.1.0/dist/centrifuge.js"></script>
    </head>
    <body class="bg-light">
        <header class="p-1 text-bg-dark font-ctc fixed-top">
          <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'img/logo.png' %}" alt="На главную" class="bi me-3"role="img" aria-label="Bootstrap">
              </a>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% show_menu 'id' request %} 
                <li><a href="{{ user.get_absolute_url }}">userpage</a></li>
              </ul>
              {% if request.user.is_authenticated %}
              {% show_button request %}
              <div class="dropdown">
                <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ user.image.url }}" alt="" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu shadow" data-bs-theme="dark">
                  <li><a class="dropdown-item text-white focus-item font-ctc-bold text-capitalize" href="{% url 'profile' %}">Профиль</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-white focus-item font-ctc-bold text-capitalize" href="{% url 'logout' %}">Выйти</a></li>
                </ul>
              </div>
              {% else %}
              <div class="text-end">
                <button type="button" class="btn btn-warning text-uppercase" onclick="location.href='{% url 'login' %}';">Войти</button>
              </div>
              {% endif %}
            </div>
          </div>
        </header>
        {% block body %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>